.App {
  margin-top: 150px;
}
.placeholder {
  color: #999;
}
#entranceAddress {
  width: 600px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-indent: 5px;
  border: 1px solid lightblue;
  border-radius: 3px;
  font-size: 12px;
}
#clickIcon {
  float: right;
  margin-right: 5px;
  color: #999;
}
#detailAddress {
  width: 600px;
  height: auto;
  margin: 0 auto;
  border: 1px solid lightblue;
  border-radius: 3px;
  margin-top: 2px;
  font-size: 14px;
}
#searchInput {
  width: -webkit-fill-available;
  height: 27px;
  margin: 10px;
  text-indent: 5px;
  border: 1px solid lightblue;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
  font-size: 12px;
}
ul {
  width: -webkit-fill-available;
  height: auto;
  margin: 0;
  padding: 5px 10px;
  list-style: none;
}
#addressDataTitle {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  border-bottom: 1px solid lightblue;
  font-weight: bold;
}
#addressDataTitle li {
  margin-right: 15px;
  float: left;
  padding: 0 3px;
}
#addressDataContent {
  height: 200px;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#addressDataContent li {
  padding-right: 45px;
}
#addressDataContent li:hover {
  cursor: pointer;
  color: blueviolet;
}
#clickInput {
  font-size: 14px;
}
.chooseAddress {
  color: #b77eec;
  border-bottom: 2px solid #b77eec;
}
